/* Colour palette:
cream: #f0f1db;
dark-green: #465f3e;
black: #000000
light-green: #9cd46c


 */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0f1db;
  color: #000000;
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 60vh;
  width: 100vw;
  justify-content: center;
  background-image: url("../img/brownbear.jpg");
  background-size: cover;
}

.floating-box {
  background-color: white;
  opacity: 0.8;
  padding: 1rem;
}

section {
  margin: 10px;
  padding-top: 60px;
}

h1 {
  font-family: "Staatliches", cursive;
  font-size: 2.5rem;
  color: #465f3e;
}

h2 {
  font-family: "Staatliches", cursive;
}

p {
  font-size: 1rem;
}

.story {
  margin: 2rem 2rem;
}
/* Navigation section */
.nav {
  background-color: #465f3e;
  padding: 10px 0px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav__navlist {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav a {
  font-family: "Staatliches", cursive;
  font-size: 1.8rem;
  color: #f0f1db;
  text-decoration: none;
}

a {
  opacity: 0.8;
  padding: 0.3em 0.5em;
  transition: 0.4s;
}

a:hover {
  opacity: 1;
  cursor: pointer;
  transition: 0.4;
}

/* Team section: gallery and content */

#team {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.babyPortrait {
  border-radius: 50%;
  width: 8rem;
}

figure {
  text-align: center;
  padding: 1rem;
}

figcaption {
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0.5rem;
}

.iconContainer {
  text-align: center;
  z-index: 50;
}

.profile__icon {
  padding: 0.5rem;
}

.profile__icon-image {
  width: 2rem;
}

/* Contact us section */

.contact-us {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

.contact-flex {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.contact-submit-flex {
  width: 7rem;
  margin: 0 auto;
}

figure img {
  width: 100px;
}

.gallery {
}

.profile {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.input-change {
  border-style: solid;
  border-color: green;
  border-width: 3px;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.input-change::-webkit-input-placeholder {
  font-family: Arial;
}

.submit-change {
  font-family: "Staatliches", cursive;
  font-size: 1rem;
  color: #f0f1db;
  background-color: #465f3e;
}

.home-button-layout {
  width: 100%;
}

footer {
  margin-bottom: 3rem;
  text-align: center;
}

footer > p {
  font-size: 0.7rem;
}

.homeButton {
  position: fixed;
  bottom: 0;
  height: 2rem;
  width: 100vw;
  text-align: center;
  background-color: #465f3e;
  color: #f0f1db;
  font-weight: 700;
  z-index: 100;
  /* opacity: 0; */
  display: none;
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.homeButton > a {
  color: #f0f1db;
  padding: 0 20%;
  text-decoration: none;
  z-index: 100;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .profile-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .profile {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 400px;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  header p {
    font-size: 1.5rem;
  }

  .contact-flex {
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
  }

section {
  height: 500px;
  scroll-padding-top:;
}

.submit-change {
  font-size: 2rem;
  margin-top: 1rem;
}
form {
  padding-right: 4rem;
}

.input-change {
  border-style: solid;
  border-color: green;
  border-width: 3px;
  margin-top: 0rem;
  width: 300px;
  margin-left: 0.5rem;
}

  label {
    width: 300px;
    text-align: right;
    margin-right: 0.5rem;
  }

  section {
    height: 500px;
    padding: 2rem;
  }
  .submit-change {
    font-size: 2rem;
    margin-top: 1rem;
  }
  form {
    padding-right: 4rem;
  }
}
